body {
  font-family: Arial;
  max-width: 700px;
  margin: auto;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
}
